<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="hotelSqlConn" connectionString="Data Source=.;Initial Catalog=hotel;User ID=sa;Password=123456" />
    <add name="HotelMgr2017101999.Properties.Settings.hotelConnectionString"
      connectionString="Data Source=便携式计算机;Initial Catalog=hotel;Persist Security Info=True;User ID=sa;Password=123456"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>